<footer>
    <div class="contact_us footer__item"><a href="#" class="footer__text">Contact us: breakout.dm.06@gmail.com</a></div>
    <div class="github_link footer__item"><a href="https://github.com/TaggedDev/LanguageProject" class="footer__text">GitHub link</a></div>
    <div class="privacy_policy footer__item"><a href="#" class="footer__text">Privacy Policy</a></div>
    <div class="copyright">© All rights reserved 2021</div>
</footer>