<header class="header">
    <nav class="navbar">
        <div class="navbar__item">
            <a href="~/Intro/Index" class="navbar__content">
                <img class="navbar_logo" src="~/assets/Logo@2x.png" alt="clouds_logo" />
                <span class="navbar__underline">CLOUDS</span>
            </a>
        </div>
        <div class="navbar__item">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar__item__profile" href="~/Account/Check">
                        <span class="navbar__profile__username">@User.Identity.Name</span>
                    </a>
                }
                else
                {
                    <a class="navbar__item__profile" href="~/Account/Register">
                        <span class="navbar__profile__username">МОЁ ОБЛАКО</span>
                    </a>
                }
            }

        </div>

    </nav>
</header>