<div class="container">
    <div class="container__items">
        <div class="item">
            <img src="../../assets/white.png" alt="learn" class="item__image">
            <a href="~/Language/Russian"><div class="item_image_overlay"><div class="item_image_overlay_text">Русский язык - восточнославянский язык, самый распространенный славянский язык в мире. Государственный язык в России, Беларуси, Казахстане, Киргизие и рабочий язык ООН</div></div></a>
            <div class="item__name">РУССКИЙ</div>
        </div>
        <div class="item">
            <img src="../../assets/white.png" alt="dictionary" class="item__image">
            <a href="~/Language/English"><div class="item_image_overlay"><div class="item_image_overlay_text">Английский язык - германский язык индоевропейской языковой семьи. Имеет официальный статус в 67 странах, является самым распространенным языком в мире. Первый язык международного общения</div></div></a>
            <div class="item__name">ENGLISH</div>
        </div>
        <div class="item">
            <img src="../../assets/white.png" alt="chat" class="item__image">
            <a href="#"><div class="item_image_overlay"><div class="item_image_overlay_text">Немецкий язык - язык немцев, австрийцев, лихтенштейнцев и части швейцарцев. Один из официальных языков стран Бенелюкса. Один из рабочих языков ООН и Европейского союза</div></div></a>
            <div class="item__name">DEUTSCH</div>
        </div>
    </div>
</div>