<div class="container">
    <div class="container__items">
        <div class="item">
            <img src="../../assets/white.png" alt="learn" class="item__image">
            <a href="~/Learn/Index"><div class="item_image_overlay"><div class="item_image_overlay_text">Начать или продолжить изучать язык</div></div></a>
            <div class="item__name">УЧИТЬ</div>
        </div>
        <div class="item">
            <img src="../../assets/white.png" alt="dictionary" class="item__image">
            <a href="#"><div class="item_image_overlay"><div class="item_image_overlay_text">Ещё в разработке</div></div></a>
            <div class="item__name">СЛОВАРЬ</div>
        </div>
        <div class="item">
            <img src="../../assets/white.png" alt="chat" class="item__image">
            <a href="#"><div class="item_image_overlay"><div class="item_image_overlay_text">Ещё в разработке</div></div></a>
            <div class="item__name">ЧАТ</div>
        </div>
    </div>
</div>