body {
    background-color: #dbdbdb;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 30vh;
}

.container__items {
    font-size: 20px;
    min-width: 1080px;
    max-width: 1800px;
    width: 80%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    
    text-align: center;
    
    text-decoration: none;
    color: #292929;
}

.item__name {
    padding-top: 16px;
    font-size: 32px;
}

.item__image {
    height: 344px;
    width: 100%;
}

.item_image_overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 344px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(105, 183, 114, .7);
}

.item_image_overlay:hover {
    opacity: 1;   
}

.item_image_overlay_text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
