@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300;1,700&display=swap');
body {
    margin: 0;
    background-color: #305252;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.auth {
    display: flex;
    justify-content: center;
    width: 44%;
    height: 100%;
    background-color: #dbdbdb;
    position: fixed;
}

.window {
    width: 80%;
    margin-top: 10vh;
}

.main {
    color: #305252;
    text-align: center;
    font-size: 60px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 800;
}

.enter_link {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 4%;
}

.enter_link a {
    color: #9498ff;
}

.field {
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    white-space: nowrap;
}


.field__label {
    color: #305252;
    font-weight: 800;
}

.field {
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    white-space: nowrap;
}

.field__data {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 44px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 8px;
    background-color: #fefefe;
}

.remember_me {
    display: flex;
    align-items: center;
}

.field_checkbox {
    margin-left: 15px;
}

.button__field {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 80px;
    border-radius: 8px;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    margin: 0 15px;
    transition: 0.2s;
}

.button__push {
    color: #fff;
    background-color: rgba(105, 183, 114);
    box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
    transition: .1s;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.button__push:hover {
    box-shadow: inset 0 -6px 0 0 rgba(0,0,0,0.2);
}

.button__push:active {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.errors {
    margin-top: 10vh;
    font-size: 16px;
    color: #7c7c7c;
}
