@{
    string level = null;
    if (this.ViewData.ContainsKey("level"))
        level = Convert.ToString(this.ViewData["level"]);
    else
        level = "A0";
}

<div class="level">
    <h1>@level:</h1>
    <div class="level_content">
        <div class="level_inner">
            <div class="column">
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
            </div>
            <div class="column">
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
            </div>
            <div class="column">
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
            </div>
            <div class="column">
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
            </div>
            <div class="column">
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
                <div class="lesson">
                    <a href="#"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                    <a href="#" class="lesson_theme">Theme</a>
                </div>
            </div>
        </div>
    </div>
</div>