@{
    string level = null;
    if (this.ViewData.ContainsKey("level"))
        level = Convert.ToString(this.ViewData["level"]);
    else
        level = "A0";

    List<Theme> model = this.ViewData["themes"] as List<Theme>;
    int maxIndex = Convert.ToInt32(ViewData["MaxIndex"]);
    int currentIndex = 0;
}

<div class="level">
    <h1>@level:</h1>
    <div class="level_content">
        <div class="level_inner">
            @while(currentIndex < maxIndex)
                {
                <div class="column">
                    @foreach (Theme theme in model.Where(x => x.OrderIndex == currentIndex+1).ToList())
                    {
                        <div class="lesson">
                            <a asp-controller="Language" asp-action="Lesson" asp-route-theme="@theme.ThemeID"><button><img src="../../assets/white.png" alt="lesson_icon" class="lesson__img"></button></a>
                            <a asp-controller="Language" asp-action="Lesson" asp-route-theme="@theme.ThemeID" class="lesson_theme">@theme.ThemeTopic</a>
                        </div>
                    }
                </div>
                currentIndex++;
            }
        </div>
    </div>
</div>