@model LingvaApp.ViewModels.ThemeViewModel
@{
    Layout = null;
    int loadId = Convert.ToInt32(ViewBag.LoadId);
    List<Field> fields = ViewBag.Fields as List<Field>;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lingva: Deutsch</title>
    <link rel="stylesheet" href="../../css/language/lang.css" asp-append-version="true">
    <link rel="stylesheet" href="../../css/base.css" asp-append-version="true">
    @await Html.PartialAsync("_CssHeaderPartial")
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="lesson_navigation">
        @foreach (LingvaApp.Models.Task task in Model.Tasks)
        {
            if (task.TaskID == loadId)
            {
                <a asp-controller="Language" asp-action="Lesson" asp-route-theme="@task.ThemeParentID" asp-route-taskid="@task.TaskID">
                    <div style="height:40px;width:40px;background-color:pink;cursor:pointer;margin-right:10px;margin-bottom:10px"></div>
                </a>
            }
            else
            {
                <a asp-controller="Language" asp-action="Lesson" asp-route-theme="@task.ThemeParentID" asp-route-taskid="@task.TaskID">
                    <div style="height:40px;width:40px;background-color:blue;cursor:pointer;margin-right:10px;margin-bottom:10px"></div>
                </a>
            }
        }

    </div>
    <div class="lesson_box">

        <form asp-controller="Language" asp-action="LessonPost" data-ajax-complete="onComplete" 
              data-ajax-failure="onFailed" data-ajax-success="onSuccess" data-ajax="true" data-ajax-method="POST">
            <input type="submit" value="Save" class="btn btn-primary" />
            <div id="Results"></div>
        </form>

    </div>

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>