@model LingvaApp.Models.Task
@{
    Layout = null;
    List<Theme> themes = ViewBag.themes;
    List<int> ints = new List<int>();
    foreach (Theme theme in themes)
        ints.Add(theme.ThemeID);
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="../css/admin_css/choose-theme.css" asp-append-version="true">
    <title>Choose Theme</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <p class="nomer-temi">ВЫБЕРИТЕ НОМЕР ТЕМЫ:</p>

        <form method="post" asp-controller="LessonCreate" asp-action="ChooseThemePost">
            @Html.HiddenFor(m => m.LanguageParent, Model.LanguageParent)
            @Html.DropDownListFor(m => m.ThemeParentID, new SelectList(ints), "Выберите тему:")
            <input type="submit" name="Далее" />
        </form>

        <button class="new-lesson">НОВЫЙ УРОК</button>
    </div>
</body>
</html>