@model LingvaApp.Models.Task
@{
    string errorMessage = "";
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        errorMessage = $"{ViewBag.ErrorMessage}: {Model.LanguageParent}";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css" asp-append-version="true" />
    <title>Choose Language</title>
</head>
<body>
    <h1 class="title">ВЫБЕРИТЕ ЯЗЫК:</h1>
    <div class="container">
        <div class="container__items">
            <form method="post" asp-controller="LessonCreate" asp-action="ChooseLanguage">
                English @Html.RadioButtonFor(m => m.LanguageParent, "Englisch") @*English is wrong written*@
                Russian @Html.RadioButtonFor(m => m.LanguageParent, "Русский")
                Deutsch @Html.RadioButtonFor(m => m.LanguageParent, "Deutsch")
                <p>@errorMessage</p>
                <input type="submit" name="Далее" />
            </form>
        </div>

    </div>
</body>
</html>