@model LingvaApp.Models.Lesson
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/admin_css/new_theme.css">
    <title>Document</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <h1>ВВЕДИТЕ НАЗВАНИЕ НОВОГО УРОКА ДЛЯ {theme}</h1>
        <form class="form" method="post" asp-controller="LessonCreate" asp-action="ChooseTaskTypePost">
            @Html.TextBoxFor(m => m.LessonTitle)
            <input type="submit" name="ДАЛЕЕ" />
        </form>
    </div>
</body>
</html>