@model LingvaApp.ViewModels.TaskTheme
@{
    Layout = null;
    List<string> levels = new List<string>() { "A1", "A2", "B1", "B2", "C1", "C2" };
    List<int> orderIndex = new List<int>() { 1, 2, 3, 4, 5, 6 };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/admin_css/new_theme.css">
    <title>Document</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <h1>ВВЕДИТЕ НАЗВАНИЕ НОВОЙ ТЕМЫ ДЛЯ {language}</h1>
        <form class="form" method="post" asp-controller="LessonCreate" asp-action="NewThemePost">
            @Html.HiddenFor(m => m.Task.LanguageParent, Model.Task.LanguageParent)
            @Html.TextBoxFor(m => m.Theme.ThemeTopic)
            @Html.DropDownListFor(m => m.Theme.ThemeLanguageLevel, new SelectList(levels), "Выберите уровень:")
            @Html.DropDownListFor(m => m.Theme.OrderIndex, new SelectList(orderIndex), "Выберите уровень:")
            <input type="submit" name="ДАЛЕЕ" />
        </form>
    </div>
</body>
</html>