/*
    === HEADER START ===
*/

.header {
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    padding: 8px 32px 8px 32px;
    background-color: #202547;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_logo {
    width: 122px;
    height: 122px;
}

.navbar__item {
    position: relative;
    vertical-align: top;
    width: 30%;
}

.navbar__hub ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar__hub ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__content {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navbar__content .navbar__underline {
    margin-left: 16px;
}

.navbar__item__profile {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__profile__username {
    padding: 15px 30px 15px 30px;
    border: solid #fff 3px;
    border-radius: 30px;
    color: #fff;
    transition: linear .2s;
}

.navbar__profile__username:hover {
    transition: linear .2s;
    background: #fff;
    color: #202547
}

.navbar__underline {
    text-decoration: none;
    position: relative;
}   

 .navbar__underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #fff;   
    

    visibility: hidden;
    transition:.5s;
}

.navbar__underline:hover:after {
    visibility: visible;
    width: 100%;
    background: #fff;
}

/*
    === HEADER END ===
*/